/*Reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Generics*/
body{
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;

}
/*Utils*/
.container{
    max-width: 1000px;
    margin: 0 auto;
}
.slideshow{
    max-width:500px ;
    margin: 0 auto;
    color: white;
    text-align: center;
}
header{
    background-color:#3161e0;
    padding: 10px 0;
}
a:link{
    color: white;
    text-decoration: none;
}
h1{
    margin-bottom: 20px;
    font-size: xx-large;
}
h2{
    text-align: center;
    font-weight: 600;
    font-size: xx-large;
    margin-bottom: 10px;
}
h3{
    font-size: medium;
    margin-bottom: 5px;
}
ul{
    list-style: none;
}
li{
    color: white;
    padding:8px 0;
    
}
main p{
    font-size: medium;
    font-weight: 600;
    margin-bottom: 15px;
}
button{
    padding: 10px 15px;
    border-radius: 30px;
    border: white;
    font-weight: 700;
}
.button-white{
    color: black;
    background-color: white;
}
.button-black{
    color: white;
    background-color: black;
    margin-left: 15px;
}
.fa-down-long{
    padding: 0 5px;
}

main section, main .slideshow-section{
    padding: 20px 0;
}
.blocco-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
footer{
    background-color:#23272a;
    padding-top: 10px;
}
.footer-top{
    border-bottom: 2px solid #3161e0 ;
}
#star{
    background-image:url(../img/img/stars.svg) ;
    padding: 3px 3px;
    text-align: center;
}
.flag{
    background-image: url(../img/img/ita.png);
    background-size: 30px;
    background-repeat: no-repeat;
}
.fa-brands{
    padding: 3px 5px;
    margin-top: 10px;
    font-size: x-large;
}

footer .left-block h2,
footer .right-block a{
    color:#7289da;
}
.btn-lilac{
    background-color:#8ea1e1;
    color: white;
}
main section:nth-of-type(odd){
    background-color: white;
}
main section:nth-of-type(even){
    background-color: lightgray;
    /**background-image: url(../img/img/wave.svg);**/
}
/*Utilities*/
.flex-container{
    display: flex;
}
.menu-container{
    background-color: #3161e0;
    display: flex;
    align-items: center;
}
.navbar-menu{
    flex-grow: 1;
    text-align: center;
}
.cl-icon{
    color: white;
}
/*Blocks dimension*/
.flex-60{
    flex-basis: 60%;
 }
.flex-20{
    flex-basis: 20%;
 }
.flex-25{
    flex-basis:25%;
 }
.flex-40{
    flex-basis: 40%;
}
.flex-80{
    flex-basis: 80%;
}
.flex-100{
    flex-basis:100%;
}
/*Text alignment*/
.text-right{
    text-align: right;
}
.text-left{
    text-align: left;
}
.p-10{
    padding: 10px;
}
.py-footer{
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 25px;
}

/*bg-color header*/
.bg-header{
    background-image: url(../img/img/jumbo.png);
    background-size: cover;
    
}
.space-between{
    justify-content: space-between;
}